#recommended_topics{
	width:100%;
	height:30px;
	margin-top:5px;
	background-color:#fac240;
}

#recommended_topics_inner{
	margin:0 auto;
	width:1280px;
	height:30px;
}
.topic{
	float:left;
	width:12.5%;
	height:25px;
	line-height::30px;
	font-family:"微软雅黑";
	font-size:14px;
	text-align:center;
	padding-top:5px;
	margin-bottom:3px;
	/*vertical-align:bottom;*/
}
.topic:hover{
	background-color:#ffe155;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
	color:#000;
}
.topic a{
	display:block;
	width:100%;
	height:100%;
	color:#FFF;
	text-decoration:none;
}
.topic a:link{
	color:#FFF;
}
.topic a:hover{
	color:black;
	-webkit-transition:color 0.3s ease-in-out;
	-moz-transition:color 0.3s ease-in-out;
	transition:color 0.3s ease-in-out;
}
#q{
    width:50%;
	border:1px solid #CCC;
	background:#FFF;
	margin-right:2px;
	margin-top:-10px;
	padding:5px;
}
#q:hover{
    -webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#submit {
    cursor:pointer;
	width:30%;
	border:none;
	background:#ffc90d;
	color:#FFF;
	margin-left:2px;
	padding:5px;
	padding-top:3px;
	font-size:15px;	
}
#submit:hover {
    background:#ff9702;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;	
}
#submit:active {
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}
#blinds{
	width:675px;
	height:300px;
	float:left;
	margin-bottom:20px;
}

#attention_head{
	background-color:#ffc90d;
	color:white;
}

#new_head{
	background-color:#ffc90d;
	color:white;
}

#advertisement{
	width:100%;
	height:100%;
	background-color:#dddddd;
}

.forum_button{
	z-index:4;
    border: 1 solid #B8C513;
	border-radius: 2px 2px 2px 2px;
	color: #B8C513;
	cursor: pointer;
	display: none;
	font-family: "微软雅黑",Arial,sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin:0 auto;
	padding: 0px 7px 0px 5px;
	text-transform: none;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	width: 200px;
	height:40px;
	/* auto */
	text-align: center;
	/* DELETE WHEN WIDTH AUTO */
	background: none repeat scroll 0 0 white;	
}

.once_button{
    width:337px;
    height:60px;
	text-align:center;
}

#twice_button{
	position:relative;
	width:337px;
	text-align:center;
}

#main_button{
	border: 0 none;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: "微软雅黑",Arial,sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin:0 auto;
	margin-top: 10px;
	padding: 10px 7px 7px 5px;
	text-transform: none;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	width: 200px;
	/* auto */
	text-align: center;
	/* DELETE WHEN WIDTH AUTO */
	background: none repeat scroll 0 0 orange;
	color: white;
}

.main_button:hover {
  background: none repeat scroll 0 0 #ff0000;
  color: white;
}