#postbox{
	width:1024px;
}

div.exfm.c1{
	width:994px;
}

div.sinf.sppoll.z{
	width:497px;
}

div.sadd.z{
	width:477px;
}

div.sinf.sppoll.z dl{
	width:482px;
}


div.sinf.sppoll.z dl dt{
	width:100px;
}
